<div class="alert alert-success border border-dark border-3 rounded-4" role="alert">

    <h2>Educación</h2>
    
    <div class="container px-0 text-right">
    <div class="row justify-content-md-right">
      <div class="col-md-auto">
        <h3>Argentina programa</h3>
      </div>
      <div class="col-md-auto">
        <img src="assets/img/argentina-programa.jpg" width="50" height="35">
      </div>
    </div>
    </div>
    
    <p>Segunda etapa #YoProgramo<br>
       Fecha de realización: Junio 2022 - Enero 2023<br>
       Descripción: La segunda etapa de Argentina Programa permite profundizar los conocimientos y adquirir las habilidades y herramientas necesarias para convertirse en un <b>programador web full-stack junior</b>.<br>
       Carga horaria: aproximadamente 480 horas<br>
       Modalidad: En línea / virtual</p>

       <div class="container px-0 text-right">
        <div class="row justify-content-md-right">
          <div class="col-md-auto">
            <h3>Educ.ar</h3>
          </div>
          <div class="col-md-auto">
            <img src="assets/img/educar.jpg" width="60" height="35">
          </div>
        </div>
      </div>
      
      <p>Seguridad informática<br>
         Fecha de realización: Septiembre 2022 - Octubre 2022<br>
         Descripción: Hoy en día las computadoras están presentes en un montón de áreas de nuestra sociedad y son cada vez más imprescindibles para la realización de muchas tareas. Las personas confiamos y volcamos nuestras vidas en estas tecnologías: nos comunicamos, enviamos y compartimos todo tipo de contenido, pagamos servicios, entre tantas cosas más. Como usuarios estamos expuestos a innumerables amenazas y en este curso vamos a conocer cuáles son los riesgos, cómo evitarlos y reconocerlos para mejorar nuestra privacidad y seguridad en internet.<br>
         Carga horaria: aproximadamente 10 horas<br>
         Modalidad: En línea / virtual</p>
    
    <div class="container px-0 text-right">
      <div class="row justify-content-md-right">
        <div class="col-md-auto">
          <h3>Educ.ar</h3>
        </div>
        <div class="col-md-auto">
          <img src="assets/img/educar.jpg" width="60" height="35">
        </div>
      </div>
    </div>

    <p>Reparación y mantenimiento de nuestra computadora personal<br>
       Fecha de realización: Agosto 2022 - Septiembre 2022<br>
       Descripción: En este curso se refiere a la computadora personal de escritorio, se enseñan herramientas y técnicas básicas que ayudan a mantenerla en condiciones. También se identifican las partes que la componen y las funciones que cumplen, para poder reconocer y solucionar los problemas que suelen presentarse.<br>
       Carga horaria: aproximadamente 12 horas<br>
       Modalidad: En línea / virtual</p>
    
    <div class="container px-0 text-right">
      <div class="row justify-content-md-right">
        <div class="col-md-auto">
          <h3>Argentina programa</h3>
        </div>
        <div class="col-md-auto">
          <img src="assets/img/argentina-programa.jpg" width="50" height="35">
        </div>
      </div>
    </div>
    
    <p>Primera etapa #SéProgramar<br>
       Fecha de realización: febrero 2022 - Abril 2022<br>
       Descripción: La primera etapa de Argentina Programa es un curso introductorio en el que se aprende los fundamentos básicos de la programación para dar los primeros pasos en el mundo tecnológico.<br>
       Carga horaria: aproximadamente 60 horas<br>
       Modalidad: En línea / virtual</p>
    
    <div class="container px-0 text-right">
      <div class="row justify-content-md-right">
        <div class="col-md-auto">
          <h3>Educ.ar</h3>
        </div>
        <div class="col-md-auto">
          <img src="assets/img/educar.jpg" width="60" height="35">
        </div>
      </div>
    </div>
    
    
    <p>Introducción al Stop Motion<br>
       Fecha de realización: Noviembre 2020 - Diciembre 2020<br>
       Descripción: La técnica de stop motion refiere a la animación cuadro por cuadro de objetos tridimensionales. Este curso aborda algunos aspectos básicos de esta técnica para animar objetos con varias fotografías; es decir, cuadro por cuadro. A lo largo de las unidades, se  descubre cómo construir personajes y lograr que realicen distintas acciones, tales como hablar y caminar, para luego integrar todo en una pequeña historia.<br>
       Carga horaria: aproximadamente 12 horas<br>
       Modalidad: En línea / virtual</p>
    
    <div class="container px-0 text-right">
      <div class="row justify-content-md-right">
        <div class="col-md-auto">
          <h3>Escuela de educación técnica Nº5 Malvinas Argentinas</h3>
        </div>
        <div class="col-md-auto">
          <img src="assets/img/eetn5.jpg" width="70" height="45">
        </div>
      </div>
    </div>
    
    <p>Electrotécnico con orientación electrónica industrial<br>
       Descripción: En esta institución educativa al alumno que elige esta orientación se le capacita para proyectar, cotizar, ejecutar, ensayar y mantener el funcionamiento de automatismos eléctricos cableados y/o programados, realizando programas para el control de computadoras de procesos y autómatas programables.<br>
       Fecha de realización: Marzo 1998 - Diciembre 2003</p>
    
    
    <div class="container px-0 text-right">
      <div class="row justify-content-md-right">
        <div class="col-md-auto">
          <h3>Escuela privada  Nº 20 Ceferino Namuncura</h3>
        </div>
        <div class="col-md-auto">
          <img src="assets/img/ceferino.jpg" width="40" height="50">
        </div>
      </div>
    </div>
    
    <p>Descripción: En esta institución Educativa se procura la alfabetización del alumno, o sea, se le enseña a leer y a escribir, a realizar cálculos, y algunos conceptos culturales imprescindibles que le permitirán ir formándose como persona de bien.<br>
       Fecha de realización: Marzo 1990 - Noviembre 1997</p>
    </div>
