<nav class="navbar sticky-top border border-dark border-3 bg-success">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa">
        <img [src]="miPortfolio.argproNav" alt="" width="56" height="30" class="d-inline-block align-text-top">
      <b>{{miPortfolio.argprograma}}</b>
    </a>
      <a class="navbar-brand" href="https://www.argentina.gob.ar/produccion/argentina-programa/segunda-etapa">
      <b>{{miPortfolio.yopro}}</b>
    </a>

      <a class="navbar-brand" href="https://www.linkedin.com/in/maximiliano--lencina/">
        <img [src]="miPortfolio.linkNav" alt="" width="44" height="44" class="d-inline-block align-text-top">
      </a>

      <a class="navbar-brand" href="https://github.com/Max-Lencina">
        <img [src]="miPortfolio.gitNav" alt="" width="37" height="37" class="d-inline-block align-text-top">
      </a>
    
      <a class="navbar-brand" href="https://www.instagram.com/max_lencina/">
        <img [src]="miPortfolio.instNav" alt="" width="51" height="51" class="d-inline-block align-text-top">
      </a>
    
    

<button type="button" class="btn btn-success border border-dark border-2 text-dark" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo"><h1>→</h1></button>
</div>
</nav>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Acceso al Portfolio</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
        <div class="modal-body">
          <form>
            <div class="input-group mb-3">
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInputGroup1" placeholder="Username">
                <label for="floatingInputGroup1">Usuario</label>
              </div>
            </div>
            <div class="form-floating">
              <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Password</label>
            </div>
          </form>
        </div>
        <div class="modal-footer">
         <button type="button" class="btn btn-success">Aceptar</button>
        </div>
      </div>
    </div>
   </div>

 

    
  
