<nav class="navbar sticky-top border border-dark border-3 bg-success">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa">
        <img src="assets/img/argentina-programa.jpg" alt="" width="56" height="30" class="d-inline-block align-text-top">
      <b> Argentina Programa 4.0</b>
    </a>
      <a class="navbar-brand" href="https://www.argentina.gob.ar/produccion/argentina-programa/segunda-etapa">
      <b>#YoProgramo</b>
    </a>

      <a class="navbar-brand" href="https://www.linkedin.com/in/maximiliano--lencina/">
        <img src="assets/img/linkedin-icon.png" alt="" width="44" height="44" class="d-inline-block align-text-top">
      </a>

      <a class="navbar-brand" href="https://github.com/Max-Lencina">
        <img src="assets/img/github-icon.png" alt="" width="37" height="37" class="d-inline-block align-text-top">
      </a>
    
      <a class="navbar-brand" href="https://www.instagram.com/max_lencina/">
        <img src="assets/img/instagram-icon.png" alt="" width="53" height="53" class="d-inline-block align-text-top">
      </a>
      
<button type="button" class="btn btn-success border border-dark border-2 text-dark"(click)="login()"*ngIf="!isLogged"><b>Login ⇨</b></button>
<button type="button" class="btn btn-success border border-dark border-2 text-dark"(click)="onLogOut()"*ngIf="isLogged"><b>Logout ⇦</b></button>
</div>
</nav>


 

    
  
