<div class="alert alert-success border border-dark border-3 rounded-4" role="alert">
 
    <img src="assets/img/portada.jpg" class ="img-fluid border border-dark border-3 rounded-4" alt="portada">
    <p></p>
   
    <img src={{persona.img}} class= "img-thumbnail border border-dark border-3 rounded-pill" alt="perfil">
    
    <h1>{{persona.nombre}} {{persona.apellido}}</h1>
    <h5><b>Full Stack Developer Jr</b></h5>
   
    <h2>Acerca de mí</h2>
    <p>{{persona.descripcion}}</p>
    <div class="col-lg-2">
      <button type="button" class="btn btn-success" routerLink="/editencab/1" *ngIf="isLogged">
        <i class="bi bi-pencil-fill"></i>
      </button>
  </div>
    </div>
    
