.alert
{
    margin-top: 1%;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
}
.img-fluid
{
    width: 100%;
    height: auto;
}

.img-thumbnail
{
    margin-top: -10%;
    margin-left: 5%;
    width: 15%;
    height: auto;
}

.img-edit
{
    margin-top:  80%;
    margin-left: -200%;  
}

.img-eliminar
{
    margin-top: -70%; 
    margin-left: 00%;
}

.img-edit1
{
    margin-top: 60%;
    margin-left: -200%;  
}
 
.img-eliminar1 
{
    margin-top: -100%;
    
}
.img-edit2
{
    margin-top: 120%;
    margin-left: -200%;  
}
.portfolioCompleto
{
    margin-top: -20%;
     
}

.portfolioCompleto2
{
    margin-top: -21%;
     
}


h1
{
    color:black;
}

h2
{
    color:black;
    
}

h3
{
    color:teal;
}

h4
{
    color:black
}

h5
{
    color:teal;
}

p
{
    color:teal;
}

span
{
  color: teal;
}