.alert
{
    margin-top: 1%;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
}
.img-fluid
{
    width: 100%;
    height: auto;
}

.img-thumbnail
{
    margin-top: -10%;
    margin-left: 5%;
    width: 15%;
    height: auto;
}
.portfolioCompleto
{
    margin-top: -20%;
     
}

h1
{
    color:black;
}

h2
{
    color:black;
    
}

h3
{
    color:teal;
}

h4
{
    color:black
}

h5
{
    color:teal;
}

p
{
    color:teal;
}

span
{
  color: teal;
}